accelerate
adapters
aiofiles
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
anytree
arxiv
attrs
autocuda
beautifulsoup4
bert-score
bioc
blis
boostaug
boto3
botocore
Brotli
cached-property
catalogue
certifi
charset-normalizer
click
cloudpathlib
colorama
confection
conllu
contourpy
cycler
cymem
datasets
Deprecated
dill
docopt
editdistance
en_core_web_lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.8.0/en_core_web_lg-3.8.0-py3-none-any.whl#sha256=293e9547a655b25499198ab15a525b05b9407a75f10255e405e8c3854329ab63
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
et_xmlfile
fastapi
feedparser
ffmpy
filelock
findfile
flair
fonttools
frozenlist
fsspec
ftfy
gdown
gensim
gitdb
GitPython
gradio
gradio_client
groovy
h11
httpcore
httpx
huggingface-hub
idna
iniconfig
intervaltree
jieba
Jinja2
jmespath
joblib
jsonlines
kiwisolver
langcodes
langdetect
language_data
language_tool_python
lemminflect
Levenshtein
lru-dict
lxml
marisa-trie
markdown-it-py
MarkupSafe
matplotlib
mdurl
metric_visualizer
more-itertools
mosestokenizer
mpld3
mpmath
multidict
multiprocess
murmurhash
natsort
networkx
nlpaug
nltk
num2words
numpy
openfile
OpenHowNet
openpyxl
orjson
packaging
pandas
pillow
pinyin
pluggy
pptree
preshed
prettytable
propcache
protobuf
psutil
pyarrow
pydantic
pydantic_core
pydub
Pygments
pyparsing
PySocks
pytest
python-dateutil
python-multipart
pytorch-warmup
pytorch_revgrad
pytz
PyYAML
RapidFuzz
regex
requests
rich
ruff
s3transfer
safehttpx
safetensors
scikit-learn
scipy
segtok
semantic-version
sentencepiece
seqeval
setuptools
sgmllib3k
shellingham
six
skops
smart_open
smmap
sniffio
sortedcontainers
soupsieve
spacy
spacy-legacy
spacy-loggers
sqlitedict
srsly
starlette
sympy
tabulate
termcolor
terminaltables
textattack @ git+https://github.com/ShivamSrng-OIE/TextAttack
thinc
threadpoolctl
tikzplotlib
tokenizers
toml
tomlkit
toolwrapper
torch
torchvision
tqdm
transformer-smaller-training-vocab
transformers
typer
typing-inspection
typing_extensions
tzdata
uctools
update-checker
urllib3
uvicorn
wasabi
wcwidth
weasel
webcolors
websockets
wheel
Wikipedia-API
word2number
wrapt
wtpsplit
xlsxwriter
xxhash
yarl
